$ancho_completo: 100vh; 
$cien_porciento: 100%;
$cien_px: 101px;
$centrado: center;
$cuarenta_px: 45px;
$cero: 0;
$none: none;
$blanco: rgb(248, 246, 246);
$open_fuente: 'Open Sans Condensed', sans-serif;