.header {
    background-image: url('../img/Tierra_planeta.jpg');
    height: $ancho_completo;
    background-size: cover;
    background-position: $centrado;
    background-repeat: no-repeat;
    width: $cien_porciento;
}